/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-container{
	width: 1440px;
	margin: 0 auto;
}
