/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1{
	width: 1440px;
	border-collapse: collapse;
	border: 1px solid #c8c8c8;
	border-spacing: 0;
	caption{
		text-align: center;
		font-size: 2rem;
		line-height: 2.4rem;
		background-color: #10222b;
		color: #fff;
		font-weight: bold;
		padding: 13px 0;
	}
	th,td{
		font-size: 1.5rem;
		line-height: 2.4rem;
		color: #3c3c3c;
		font-weight: bold;
	}
	th{
		background-color: #dddddd;
		padding: 10px 0 13px;
		width: 285px;
		&:nth-child(1){
			width: 60.5%;
			text-align: right;
			padding-right: 126px;
		}
	}
	tbody{
		tr{
			&:nth-child(even){
				background-color: #dddddd;
			}
		}
	}
	td{
		border: 1px solid #c8c8c8;
		width: 285px;
		text-align: center;
		padding: 11px 0 13px;
		&:nth-child(1){
			width: 40.8%;
			text-align: left;
			padding-left: 29px;
			p{
				display: inline-block;
				font-weight: normal;
				&:first-child{
					width: 237px;
					font-weight: bold;

				}
			}
		}
		&:last-child{
			font-weight: normal;
		}
		span{
			font-weight: normal;
			&.u-red{
				color: #ff1e5b;
				font-weight: bold;
			}
			&.u-break{
				position: relative;
				font-weight: bold;
				&:after{
					content: '';
					position: absolute;
					width: 100%;
					height: 1px;
					background-color: #ff1e5b;
					top: 11px;
					left:0;
					transform: rotate(-6deg);
				}
			}
		}
	}
}