/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-label1{
	font-size: 1.5rem;
	line-height: 2.4rem;
	display: flex;
	margin-top: 19px;
	&__block{
		&:nth-child(2){
			margin-left: 20px;
		}
	}
	&__lab{
		display: inline-block;
		font-weight: bold;
		color: #fff;
		background-color: #33c49d;
        padding: 1px 19px 4px 17px;
	    &--ceru{
	    	background: #0080ae;
	    	padding: 2px 20px 4px;
	    }
	}
	&__txt{
		display: inline-block;
		padding-left: 8px;
	}

}
